@model AcademyManager.ViewModels.EditCourseVM

@{
    ViewData["Title"] = "EditCourse";
}
    <div class="container-fluid">
        <h1>Edit Course</h1>

        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="EditCourse">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input type="hidden" asp-for="Id" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="CourseName" class="control-label"></label>
                        <input asp-for="CourseName" class="form-control" />
                        <span asp-validation-for="CourseName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FacilitatorId"></label>
                        <select asp-for="FacilitatorId" asp-items="@Model.Facilitators">
                            <option value="">Select Facilitator</option>
                        </select>
                        @*@Html.DropDownListFor(m => m.Facilitators, new SelectList(Model.Facilitators, "Value", "Text"),"Select Facilitator",
                        new { @class = "form-control"})*@
                        <span asp-validation-for="FacilitatorId"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a class="btn bg-gradient-indigo" asp-controller="AdminPortal" asp-action="Index">Back to Admin Portal</a>
        </div>
    </div>
