@inject SignInManager<AMUser> signinManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AcademyManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-0"
             style="background-color:darkred">
            <div class="container">
                <a class="navbar-brand" asp-action="index" asp-controller="Home">
                    <img src="~/images/AcademyManagerLogo.png" height="30" width="30" />
                </a>
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Academy Manager</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Home" asp-action="About">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="row">
        <div class="col-sm-2 mb-0" style="background-color:darkslategray;">
            <ul class="nav nav-tabs flex-column">
                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="home" asp-action="index" asp-route-id="">Home Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="UserProfile" asp-action="Index">User Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="Facilitators" asp-action="ManageCourses">Manage Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="AdminPortal" asp-action="Index">Admin Portal</a>
                </li>
            </ul>
        </div>

        <main role="main" class="col-sm-10 pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top bg-black text-white p-5">
        <div class="text-center">
            <p class="m-0">Developed by Aghaulor Elvis</p>
            <p class="m-0 c-orange">&copy; 2020 - AcademyManager</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
