@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "_UserAccountsLayout";
}

    <div class="hold-transition register-page bg-black">
        <div class="register-box">
            <div class="login-logo">
                
            </div>
            <!-- /.login-logo -->
            <div class="card card-primary">
                <div class="card-header">Create a New Account</div>
                <div class="card-body register-card-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <form method="post">
                        <div class="input-group mb-3">
                            <input asp-for="Email" class="form-control" placeholder="Email" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <div class="input-group mb-3">
                            <input asp-for="Password" class="form-control" placeholder="Password" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <div class="input-group mb-3">
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        <div class="row">
                            <!-- /.col -->
                            <div class="col-4">
                                <button type="submit" class="btn bg-gradient-indigo btn-block">Register</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                    <p class="mb-0">
                        <a class="text-center" asp-action="Login">I already have an account</a>
                    </p>
                    <p class="mb-1">
                        <a asp-controller="Welcome" asp-action="Index">Go back to Application Home page</a>
                    </p>
                </div>
                <!-- /.login-card-body -->
            </div>
        </div>
    </div>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
 }