@model IEnumerable<AcademyManager.ViewModels.CourseVM>
@inject UserManager<AMUser> userManager
@{
    ViewData["Title"] = "Index";
}

    <div class="container-fluid">
        <h1>Index</h1>

        <p>
            <a asp-action="CreateCourse">Create New</a>
        </p>
        <table id="tblList" class="table">
            <thead>
                <tr>
                    <th>
                        Course
                    </th>
                    <th>
                        Facilitator
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseName)
                        </td>
                        @if (item.FacilitatorId != null)
                        {
                            var facilitator = userManager.FindByIdAsync(item.FacilitatorId).Result;
                            <td>
                                @facilitator.FirstName @facilitator.LastName @facilitator.MiddleName
                            </td>
                        }
                        else
                        {
                            <td>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>

    </div>
