@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "_UserAccountsLayout";
}

<div class="jumbotron bg-light">
    <div class="card col-sm-7">
        <div class="card-header text-center">
            <h1 class="c-red">Login</h1>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="form-row form-group">
                    <div class="col-sm-2 text-justify" style="background-color:darkred;">
                        <label class="text-white col-form-label" asp-for="Email"></label>
                    </div>
                    <input class="form-control col-sm-10" asp-for="Email" />
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-2 text-justify" style="background-color:darkred;">
                        <label class="text-white col-form-label" asp-for="Password"></label>
                    </div>
                    <input class="form-control  col-sm-10" asp-for="Password" />
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
                <div class="form-row form-group">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
                <div class="text-center">
                    <button class="btn bg-blue text-white" type="submit">Login</button>
                </div>
            </form>
        </div>
        <div class="card-footer text-center">
            <a class="btn bg-red text-white" asp-controller="Home" asp-action="Welcome">Go back to home page</a>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}