@model AcademyManager.ViewModels.TestAndExamVM
@inject UserManager<AMUser> userManager
@{
    ViewData["Title"] = "AddTestOrExam";
    var user = userManager.GetUserAsync(User).Result;
}



<hr />
<div class="container-fluid">
    <div class="col-md-6" style="margin: 5px auto;">
        <div class="card card-maroon">
            <div class="card-header">
                <h1 class="card-title">Add Test Or Exam</h1>
            </div>
            <div class="card-body">
                <form asp-action="AddTestOrExam">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="TestOrExamName" class="control-label"></label>
                        <input asp-for="TestOrExamName" class="form-control" />
                        <span asp-validation-for="TestOrExamName" class="text-danger"></span>
                    </div>
                    <input asp-for="CourseId" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Total" class="control-label"></label>
                        <input asp-for="Total" class="form-control" />
                        <span asp-validation-for="Total" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <a class="btn btn-info mt-3" asp-action="FacilitatorCourses" asp-route-userId="@user.Id">Go back to Courses</a>
            </div>
        </div>
    </div>
</div>



