
@{
    ViewData["Title"] = "ManageCourses";
}
<div class="container-fluid">
    <h1>Manage Courses</h1>
    <hr />
    <div>
        <a asp-action="FacilitatorCourses" asp-route-userId="@ViewBag.Id" class="btn bg-gradient-indigo">View your courses</a>
    </div>
</div>



