@model AcademyManager.ViewModels.CourseVM

@{
    ViewData["Title"] = "ViewCourseDetails";
}
    <div class="container-fluid">
        <div>
            <h4>@Model.CourseName Details</h4>
            <hr />
            <a class="btn btn-secondary text-white" asp-action="ViewCourseTestsAndExams" asp-route-courseId="@Model.Id">
                View tests and exams for @Model.CourseName</a>
        <div>
            <a class="btn bg-gradient-indigo mt-3" asp-action="ManageCourses">Go back to Manage Courses</a>
        </div>

    </div>