@{
    ViewData["Title"] = "Privacy Policy";
}
    <div class="container bg-light">
        <div class="card">
            <div class="card-header bg-blue">
                <h1 class="text-center c-red">About this App</h1>
            </div>
            <div class="card-body">
                <p>Academy Manager app was developed by Elvis Aghaulor in 2020. The app is meant to e used by companies all
                over the world that are training entry level employees. It has the capability of performing all the operations
                required in an academy and even more.</p>
            </div>
        </div>
    </div>

