@inject SignInManager<AMUser> signInManager  
@inject UserManager<AMUser> userManager
@{
    ViewData["Title"] = "Home Page";
}
    <section class="content-header">
        <div class="container-fluid">
                <div class="text-center">
                    <h1>Academy Manager</h1>
                </div>
        </div><!-- /.container-fluid -->
    </section>

    <div class="card card-solid">
        <div class="card-body">
            <div class="text-center">
                <div class="col-12">
                    <img class="product-image" src="~/images/AcademyManagerLogo.png" style="height:120px;width:auto;" />
                </div>
                <div class="bg-orange py-2 px-3 mt-4">
                    <h2 class="mb-0">
                        Welcome @userManager.GetUserName(User)
                    </h2>
                </div>
            </div>
            <div class="row py-2 px-3 mt-4">
                    <p>
                        This app can be used to manage the Training Academy of new employees for any company.
                        The facilitators and the students alike can see the information that is relevant to them.
                        The trainee is allowed to view his/her performance at any point in time in order for them to discover areas where they
                        need to improve. The app is transparent and helps to bring out the best in the trainee as he/she will be able to
                        discover weaknesses on time.
                    </p>
            </div>
        </div>
        <!-- /.card-body -->
    </div>