@{
    ViewData["Title"] = "Home Page";
    Layout = "_HomeLayout";
}


<div class="container-fluid text-center">
    <div class="lockscreen-logo">
        <img src="~/images/AcademyManagerLogo.png" height="90" width="90" />
    </div>
    <div class="">

    </div>
    <h1 class="c-red">Welcome to Academy Manager</h1>
    <a asp-controller="Account" asp-action="Register" class="btn btn-primary text-white">Register</a>
    <a asp-controller="Account" asp-action="Login" class="btn btn-primary text-white">Login</a>
</div>