@{
    ViewData["Title"] = "Home Page";
    Layout = "_HomeLayout";
}

<div class="container-fluid text-center" style="margin:auto 0;padding-top: 20px;">
    <img src="~/images/AcademyManagerLogo.png" height="90" width="90" />
    <h1 class="c-red">Welcome to Academy Manager App</h1>
    <p>Click on one of the link below to login or register a new account</p>
    <a asp-controller="UserAccounts" asp-action="Register" class="btn btn-blue text-white">Register</a>
    <a asp-controller="UserAccounts" asp-action="Login" class="btn btn-blue text-white">Login</a>
</div>