
@{
    ViewData["Title"] = "Index";
}

    <div>
        <h1>Admin Portal</h1>
        <table class="table">
            <tr>
                <td><a class="btn btn-info" asp-action="TraineesList" asp-controller="Administrators">Trainees List</a></td>
                <td><a class="btn btn-info" asp-action="Index" asp-controller="Administrators">Administrators List</a></td>
                <td><a class="btn btn-info" asp-action="FacilitatorsList" asp-controller="Administrators">Facilitators List</a></td>
            </tr>
            <tr>
                <td><a class="btn bg-gradient-indigo" asp-action="AssignTraineeSerial" asp-controller="Administrators">Generate trainees Serial</a></td>
                <td><a class="btn bg-gradient-indigo" asp-action="CreateCourse" asp-controller="Administrators">Create course</a></td>
                <td><a class="btn bg-gradient-indigo" asp-action="CourseList" asp-controller="Administrators">Course List</a></td>
            </tr>
            <tr>
                <td><a class="btn btn-info" asp-action="CreateTrainees" asp-controller="Administrators">Create Trainees</a></td>
                <td><a class="btn btn-info" asp-action="CreateFacilitators" asp-controller="Administrators">Create Facilitators</a></td>
                <td><a class="btn btn-info" asp-action="CreateAdministrators" asp-controller="Administrators">Create Administrators</a></td>
            </tr>
            <tr>
                <td></td>
                <td><a asp-action="AllUsersList" asp-controller="Administrators" class="btn bg-gradient-indigo">All App Users List</a></td>
                <td></td>
            </tr>
        </table>
    </div>
