@model AcademyManager.ViewModels.ChangePasswordVM

@{
    ViewData["Title"] = "ChangePassword";
}
    <div class="container-fluid">
        <h1>Change Password</h1>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="ChangePassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Id" type="hidden" class="form-control" />
                    <div class="form-group">
                        <label asp-for="CurrentPassword" class="control-label"></label>
                        <input asp-for="CurrentPassword" class="form-control" />
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label"></label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfiremNewPassword" class="control-label"></label>
                        <input asp-for="ConfiremNewPassword" class="form-control" />
                        <span asp-validation-for="ConfiremNewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn text-white btn-danger" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a class="btn bg-gradient-indigo" asp-action="Index">Back to Profile Page</a>
        </div>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
